feeding_time/__pycache__/settings.cpython-38.pyc
feeding_time/__pycache__/__init__.cpython-38.pyc
events/migrations/0001_initial.py
db.sqlite3
events/__pycache__/__init__.cpython-38.pyc
events/__pycache__/admin.cpython-38.pyc
events/__pycache__/apps.cpython-38.pyc
events/__pycache__/models.cpython-38.pyc
events/migrations/__pycache__/__init__.cpython-38.pyc
feeding_time/__pycache__/urls.cpython-38.pyc
events/migrations/__pycache__/0001_initial.cpython-38.pyc
feeding_time/__pycache__/wsgi.cpython-38.pyc
events/__pycache__/views.cpython-38.pyc
events/__pycache__/urls.cpython-38.pyc
events/__pycache__/
staffs/__pycache__/
animals/__pycache__/
foods/__pycache__/
animals/migrations/__pycache__/__init__.cpython-38.pyc
foods/migrations/__pycache__/__init__.cpython-38.pyc
staffs/migrations/__pycache__/__init__.cpython-38.pyc
animals/migrations/__pycache__/0001_initial.cpython-38.pyc
foods/migrations/__pycache__/0001_initial.cpython-38.pyc
staffs/migrations/__pycache__/0001_initial.cpython-38.pyc
animals/*
foods/*
staffs/*
events/migrations/__pycache__/0002_animal_animalinanevent_food_foodinanevent_staff.cpython-38.pyc
